In [ ]:
from pathlib import Path
import pandas as pd

def getFile(fileName):
    data_path = "../data/processed" +"/"+ fileName
    return pd.read_csv(data_path)

airports_df = getFile("extract_airports.csv")
delay_df = getFile("extract_delay.csv")

In [ ]:
# Remove duplicate records
airports_df = airports_df.drop_duplicates()
delay_df = delay_df.drop_duplicates()

In [ ]:
# Handle missing/null values
airports_df.fillna({'name': 'Unknown', 'city': 'Unknown', 'iata': 'UNK', 'lat': 0, 'lon': 0, 'alt': 0}, inplace=True)
delay_df.fillna(0, inplace=True)

In [ ]:
# Standardize column names
airports_df.columns = airports_df.columns.str.lower().str.replace(' ', '_')
delay_df.columns = delay_df.columns.str.lower().str.replace(' ', '_')

In [ ]:
# Convert columns to appropriate data types
airports_df = airports_df.astype({'id': 'int64', 'name': 'string', 'city': 'string', 'iata': 'string', 'lat': 'float64', 'lon': 'float64', 'alt': 'int64'})
delay_df = delay_df.astype({'year': 'int64', 'month': 'int64', 'carrier': 'string', 'carrier_name': 'string', 'airport': 'string', 'airport_name': 'string'})
numeric_cols = ['arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay']
delay_df[numeric_cols] = delay_df[numeric_cols].astype('float64')

In [ ]:
# Save transformed data
output_path = Path(__file__).parent.parent / "data" / "processed"
output_path.mkdir(exist_ok=True)
airports_df.to_csv(output_path / "transformed_airports.csv", index=False)
delay_df.to_csv(output_path / "transformed_delay.csv", index=False)

In [5]:
data = pd.read_csv("../data/processed/extract_delay.csv")


duplicated_rows = data.duplicated()
clean_data = data[~duplicated_rows]

clean_data.columns = clean_data \
    .columns \
    .str.lower() \
    .str.replace(" ", "_")


CRITICAL_COLUMNS = ['year',
                    'month',
                    'carrier',
                    'carrier_name',
                    'airport',
                    'airport_name']
rows_before_drop = len(clean_data)
clean_data = clean_data.dropna(subset=CRITICAL_COLUMNS)
rows_dropped = rows_before_drop - len(clean_data)

rows_before_fill = len(clean_data)
clean_data = clean_data.fillna(0)
rows_modified = rows_before_fill - len(clean_data)

# arrays are AI generated
str_cols = ['carrier',
            'carrier_name',
            'airport',
            'airport_name']
int_cols = ['year',
            'month',
            'arr_flights',
            'arr_del15',
            'arr_cancelled',
            'arr_diverted',
            'arr_delay',
            'carrier_delay',
            'weather_delay',
            'nas_delay',
            'security_delay',
            'late_aircraft_delay']
float_cols = ['carrier_ct',
                'weather_ct',
                'nas_ct',
                'security_ct',
                'late_aircraft_ct']
clean_data[str_cols] = clean_data[str_cols].astype("string")
clean_data[int_cols] = clean_data[int_cols].astype("int64")
clean_data[float_cols] = clean_data[float_cols].astype("float64")

clean_data

,unnamed:_0,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,405358,2003,6,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",307,56,14.68,...,1.48,9.96,1,1,2530,510,621,676,25,698
1,405359,2003,6,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",90,27,7.09,...,0.00,7.16,0,0,1390,271,83,581,0,455
2,405360,2003,6,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",752,186,33.99,...,1.90,17.53,5,0,8314,1367,1722,3817,139,1269
3,405361,2003,6,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",842,174,60.24,...,4.69,40.75,9,1,8344,3040,1032,1835,115,2322
4,405362,2003,6,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",383,55,14.90,...,0.00,16.61,0,0,3137,815,574,555,0,1193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405765,1864,2025,5,YX,Republic Airline,STL,"St. Louis, MO: St Louis Lambert International",197,34,6.29,...,0.00,12.68,12,0,2070,315,0,543,0,1212
405766,1865,2025,5,YX,Republic Airline,SYR,"Syracuse, NY: Syracuse Hancock International",74,9,1.02,...,0.00,6.96,11,0,583,62,0,27,0,494
405767,1866,2025,5,YX,Republic Airline,TUL,"Tulsa, OK: Tulsa International",97,38,10.88,...,0.00,8.68,4,1,2125,853,149,560,0,563
405768,1867,2025,5,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",82,26,3.54,...,0.00,10.59,3,0,1248,171,0,440,0,637
405769,1868,2025,5,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas National",61,21,4.20,...,0.00,8.50,1,1,2503,1105,0,653,0,745

In [11]:
clean_delays = pd.read_csv("../data/output/clean_delay.csv")
clean_airports = pd.read_csv("../data/output/clean_airports.csv", encoding='latin-1')

clean_airports

,Unnamed: 0,name,city,iata,lat,lon,alt
0,6042,Apalachicola Regional Airport,Apalachicola,AAF,29.727501,-85.027496,20.0
1,6512,Andrau Airpark,Houston,AAP,29.722500,-95.588303,79.0
2,4085,Lehigh Valley International Airport,Allentown,ABE,40.652100,-75.440804,393.0
3,3518,Abilene Regional Airport,Abilene,ABI,32.411301,-99.681900,1791.0
4,5415,Ambler Airport,Ambler,ABL,67.106300,-157.856989,334.0
...,...,...,...,...,...,...,...
1246,6413,Chan Gurney Municipal Airport,Yankton,YKN,42.916698,-97.385902,1306.0
1247,3681,Youngstown Warren Regional Airport,Youngstown,YNG,41.260700,-80.679100,1192.0
1248,3396,Yuma MCAS/Yuma International Airport,Yuma,YUM,32.656601,-114.606003,213.0
1249,6189,Zephyrhills Municipal Airport,Zephyrhills,ZPH,28.228201,-82.155899,90.0
1250,7105,Zanesville Municipal Airport,Zanesville,ZZV,39.944401,-81.892097,900.0

In [25]:
merged_df = clean_delays.merge(clean_airports, left_on='airport', right_on='iata', how='left')
merged_df

,Unnamed: 0_x,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,nas_delay,security_delay,late_aircraft_delay,Unnamed: 0_y,name,city,iata,lat,lon,alt
0,405358,2003,6,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",307,56,14.68,...,676,25,698,3805.0,Albuquerque International Sunport,Albuquerque,ABQ,35.040199,-106.609001,5355.0
1,405359,2003,6,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",90,27,7.09,...,581,0,455,3574.0,Ted Stevens Anchorage International Airport,Anchorage,ANC,61.174400,-149.996002,152.0
2,405360,2003,6,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",752,186,33.99,...,3817,139,1269,3482.0,Hartsfield Jackson Atlanta International Airport,Atlanta,ATL,33.636700,-84.428101,1026.0
3,405361,2003,6,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",842,174,60.24,...,1835,115,2322,3473.0,Austin Bergstrom International Airport,Austin,AUS,30.194500,-97.669899,542.0
4,405362,2003,6,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",383,55,14.90,...,555,0,1193,3625.0,Bradley International Airport,Windsor Locks,BDL,41.938900,-72.683197,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405765,1864,2025,5,YX,Republic Airline,STL,"St. Louis, MO: St Louis Lambert International",197,34,6.29,...,543,0,1212,3478.0,St Louis Lambert International Airport,St. Louis,STL,38.748697,-90.370003,618.0
405766,1865,2025,5,YX,Republic Airline,SYR,"Syracuse, NY: Syracuse Hancock International",74,9,1.02,...,27,0,494,3545.0,Syracuse Hancock International Airport,Syracuse,SYR,43.111198,-76.106300,421.0
405767,1866,2025,5,YX,Republic Airline,TUL,"Tulsa, OK: Tulsa International",97,38,10.88,...,560,0,563,3655.0,Tulsa International Airport,Tulsa,TUL,36.198399,-95.888100,677.0
405768,1867,2025,5,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",82,26,3.54,...,440,0,637,3476.0,McGhee Tyson Airport,Knoxville,TYS,35.811001,-83.994003,981.0
405769,1868,2025,5,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas National",61,21,4.20,...,653,0,745,4086.0,Northwest Arkansas Regional Airport,Bentonville,XNA,36.281898,-94.306801,1287.0

In [26]:
merged_df.isna().sum()

Unnamed: 0_x              0
year                      0
month                     0
carrier                   0
carrier_name              0
airport                   0
airport_name              0
arr_flights               0
arr_del15                 0
carrier_ct                0
weather_ct                0
nas_ct                    0
security_ct               0
late_aircraft_ct          0
arr_cancelled             0
arr_diverted              0
arr_delay                 0
carrier_delay             0
weather_delay             0
nas_delay                 0
security_delay            0
late_aircraft_delay       0
Unnamed: 0_y           5460
name                   5460
city                   5460
iata                   5460
lat                    5460
lon                    5460
alt                    5460
dtype: int64

In [29]:
merged_df[merged_df.isnull().any(axis=1)].groupby('airport').size()

airport
BQN     638
EAR      57
GUM     180
IFP      14
ILE      31
PPG     132
PSE     303
ROP       5
SJU    1874
SPN     100
STT    1344
STX     706
TKI       1
XWA      75
dtype: int64

In [30]:
merged_df.dropna(inplace=True)
merged_df.isna().sum()

Unnamed: 0_x           0
year                   0
month                  0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            0
arr_del15              0
carrier_ct             0
weather_ct             0
nas_ct                 0
security_ct            0
late_aircraft_ct       0
arr_cancelled          0
arr_diverted           0
arr_delay              0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
Unnamed: 0_y           0
name                   0
city                   0
iata                   0
lat                    0
lon                    0
alt                    0
dtype: int64

In [31]:
merged_df.count()

Unnamed: 0_x           400310
year                   400310
month                  400310
carrier                400310
carrier_name           400310
airport                400310
airport_name           400310
arr_flights            400310
arr_del15              400310
carrier_ct             400310
weather_ct             400310
nas_ct                 400310
security_ct            400310
late_aircraft_ct       400310
arr_cancelled          400310
arr_diverted           400310
arr_delay              400310
carrier_delay          400310
weather_delay          400310
nas_delay              400310
security_delay         400310
late_aircraft_delay    400310
Unnamed: 0_y           400310
name                   400310
city                   400310
iata                   400310
lat                    400310
lon                    400310
alt                    400310
dtype: int64

In [52]:
# states contains 51 unique entries since dc is a district not a state

merged_df['state'] = merged_df['airport_name'].str.split(', ').str[1].str.split(':').str[0]
merged_df

,Unnamed: 0_x,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,security_delay,late_aircraft_delay,Unnamed: 0_y,name,city,iata,lat,lon,alt,state
0,405358,2003,6,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",307,56,14.68,...,25,698,3805.0,Albuquerque International Sunport,Albuquerque,ABQ,35.040199,-106.609001,5355.0,NM
1,405359,2003,6,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",90,27,7.09,...,0,455,3574.0,Ted Stevens Anchorage International Airport,Anchorage,ANC,61.174400,-149.996002,152.0,AK
2,405360,2003,6,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",752,186,33.99,...,139,1269,3482.0,Hartsfield Jackson Atlanta International Airport,Atlanta,ATL,33.636700,-84.428101,1026.0,GA
3,405361,2003,6,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",842,174,60.24,...,115,2322,3473.0,Austin Bergstrom International Airport,Austin,AUS,30.194500,-97.669899,542.0,TX
4,405362,2003,6,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",383,55,14.90,...,0,1193,3625.0,Bradley International Airport,Windsor Locks,BDL,41.938900,-72.683197,173.0,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405765,1864,2025,5,YX,Republic Airline,STL,"St. Louis, MO: St Louis Lambert International",197,34,6.29,...,0,1212,3478.0,St Louis Lambert International Airport,St. Louis,STL,38.748697,-90.370003,618.0,MO
405766,1865,2025,5,YX,Republic Airline,SYR,"Syracuse, NY: Syracuse Hancock International",74,9,1.02,...,0,494,3545.0,Syracuse Hancock International Airport,Syracuse,SYR,43.111198,-76.106300,421.0,NY
405767,1866,2025,5,YX,Republic Airline,TUL,"Tulsa, OK: Tulsa International",97,38,10.88,...,0,563,3655.0,Tulsa International Airport,Tulsa,TUL,36.198399,-95.888100,677.0,OK
405768,1867,2025,5,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",82,26,3.54,...,0,637,3476.0,McGhee Tyson Airport,Knoxville,TYS,35.811001,-83.994003,981.0,TN
405769,1868,2025,5,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas National",61,21,4.20,...,0,745,4086.0,Northwest Arkansas Regional Airport,Bentonville,XNA,36.281898,-94.306801,1287.0,AR

In [55]:
# drop unnecessary cols

merged_df = merged_df.drop(['Unnamed: 0_x','arr_del15','Unnamed: 0_y','airport_name','airport'],axis=1)

In [59]:
merged_df

,year,month,carrier,carrier_name,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,...,nas_delay,security_delay,late_aircraft_delay,name,city,iata,lat,lon,alt,state
0,2003,6,AA,American Airlines Inc.,307,14.68,10.79,19.09,1.48,9.96,...,676,25,698,Albuquerque International Sunport,Albuquerque,ABQ,35.040199,-106.609001,5355.0,NM
1,2003,6,AA,American Airlines Inc.,90,7.09,2.00,10.75,0.00,7.16,...,581,0,455,Ted Stevens Anchorage International Airport,Anchorage,ANC,61.174400,-149.996002,152.0,AK
2,2003,6,AA,American Airlines Inc.,752,33.99,27.82,104.76,1.90,17.53,...,3817,139,1269,Hartsfield Jackson Atlanta International Airport,Atlanta,ATL,33.636700,-84.428101,1026.0,GA
3,2003,6,AA,American Airlines Inc.,842,60.24,20.54,47.78,4.69,40.75,...,1835,115,2322,Austin Bergstrom International Airport,Austin,AUS,30.194500,-97.669899,542.0,TX
4,2003,6,AA,American Airlines Inc.,383,14.90,8.91,14.57,0.00,16.61,...,555,0,1193,Bradley International Airport,Windsor Locks,BDL,41.938900,-72.683197,173.0,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405765,2025,5,YX,Republic Airline,197,6.29,0.00,15.03,0.00,12.68,...,543,0,1212,St Louis Lambert International Airport,St. Louis,STL,38.748697,-90.370003,618.0,MO
405766,2025,5,YX,Republic Airline,74,1.02,0.00,1.02,0.00,6.96,...,27,0,494,Syracuse Hancock International Airport,Syracuse,SYR,43.111198,-76.106300,421.0,NY
405767,2025,5,YX,Republic Airline,97,10.88,1.00,17.44,0.00,8.68,...,560,0,563,Tulsa International Airport,Tulsa,TUL,36.198399,-95.888100,677.0,OK
405768,2025,5,YX,Republic Airline,82,3.54,0.00,11.87,0.00,10.59,...,440,0,637,McGhee Tyson Airport,Knoxville,TYS,35.811001,-83.994003,981.0,TN
405769,2025,5,YX,Republic Airline,61,4.20,0.00,8.31,0.00,8.50,...,653,0,745,Northwest Arkansas Regional Airport,Bentonville,XNA,36.281898,-94.306801,1287.0,AR